.main{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

}
.first, .second, .third, .fourth {
  background-color: green;
  height: 13vh;
  width: 7vw;
  background-color: green;
  border-right: 1px solid;


}
.fourth{
  background-color: yellow;
  flex-grow: 4;
  border-right: none;
}
@media screen and (max-width: 980px)
{
  .main{
    background-color: grey;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80vw;
  }
  .first, .second, .third, .fourth {
    background-color: green;
    height: 13vh;
    width: 25vw;
    background-color: #90ee90;
    border: 1px solid #808080;

  }
  .fourth{
    background-color: yellow;
    flex-grow: 4;
    border: none;
  }
}
