.main{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.square {
  background-color: green;
  height: 13vh;
  width: 25%;
  background-color: green;
  border-right: 1px solid;
}
.yellow{
  background-color: yellow;
  flex-basis: 60%;
  border-right: none;
}
@media all and (max-width: 980px)
{
  .main{
    background-color: grey;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80vw;
  }
  .square {
    background-color: #90ee90;
    border: 1px solid #808080;

  }
  .yellow{
    background-color: yellow;
    flex-grow: 4;
    border: none;
  }
}
